<label for="Di_@Id">@Item.Label</label>
<input type="@Item.Type.ToString().ToLower()" class="form-control @(!string.IsNullOrEmpty(Item.ErrorMessage) ? "is-invalid" : "")" id="Di_@Id" @bind="@Item.DefaultValue">
<div class="valid-tooltip">
    @Item.ErrorMessage
</div>

@code {
    /// <summary>
    /// Item that represent this field.
    /// </summary>
    [Parameter] public Property Item { get; set; }

    // HTML Static It of this field.
    string Id = Guid.NewGuid().ToString("N");
}
