<div class="@(isShown ? "" : "d-none")" style="position: fixed; top: 0; right:0; left: 0; bottom:0; z-index:999;" @onmousedown="Hide"></div>
<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle @(isShown ? "show" : "")" @onclick="Toggle">
        @ButtonTitle
    </button>
    <div class="dropdown-menu @(isShown ? "show" : "")">
        @for (int i = 0; i < DropDownItems.Count; i++)
        {
            int index = i;
            switch (DropDownItems[i].Type)
            {
                case DropdownType.Button:
                    <a class="dropdown-item" @onclick="() => { Hide(); OnSelect.InvokeAsync(DropDownItems[index].Key); }">@DropDownItems[i].Value</a>
                    break;
                case DropdownType.Header:
                    <h6 class="dropdown-header">@DropDownItems[i].Value</h6>
                    break;
                case DropdownType.Divider:
                    <div class="dropdown-divider"></div>
                    break;
                default:
                    <a class="dropdown-item">@DropDownItems[i].Value</a>
                    break;
            }
        }
    </div>
</div>

@code {
    /// <summary>
    /// Button Trigger Content.
    /// </summary>
    [Parameter] public string ButtonTitle { get; set; }

    /// <summary>
    /// List of Item in dropdown menu.
    /// </summary>
    [Parameter] public List<DropdownItem> DropDownItems { get; set; }

    /// <summary>
    /// A fuction to trigger when seleted item.
    /// </summary>
    [Parameter] public EventCallback<string> OnSelect { get; set; }

    // Is Dropdown list is visible or not.
    bool isShown = false;

    /// <summary>
    /// Toggle Dropdown menu visibility.
    /// </summary>
    void Toggle()
    {
        isShown = !isShown;
    }

    /// <summary>
    /// Show Dropdown menu.
    /// </summary>
    void Show()
    {
        isShown = true;
    }

    /// <summary>
    /// Hide Dropdown menu.
    /// </summary>
    void Hide()
    {
        isShown = false;
    }
}
