@typeparam T

@if (!string.IsNullOrEmpty(Title))
{
    <h3>@Title</h3>
}

@if (EditAbility && GridType == GridType.Edit)
{
    <UpdateModal T="T" @ref="Modal" Properties="ItemsList?.ItemProperties"></UpdateModal>
    <ConfirmDialog @ref="ConfirmModal"></ConfirmDialog>
}
<div class="mt-1 mb-3 @(GridType == GridType.Edit ? "" : "text-right")" style="overflow: visible;">
    @if (GridType == GridType.Edit)
    {
        @if (EditAbility)
        {
            <button class="btn btn-primary" @onclick="ShowAddModal">
                <span class="oi oi-plus align-middle"></span>
                <span class="ml-1 align-middle">Add</span>
            </button>
            if (SelectedItems?.Count > 1)
            {
                <button class="btn btn-danger" @onclick="ShowDeleteAllModal">
                    <span class="oi oi-delete align-middle"></span>
                    <span class="ml-1 align-middle">Delete @SelectedItems.Count items</span>
                </button>
            }

        }

        <Dropdown ButtonTitle="@("Export")" DropDownItems="ExportDropdownItems" OnSelect="Export" />
    }

    <div class="@(GridType == GridType.Edit ? "float-right" : "d-inline-block")">
        <CascadingValue Value="@this" Name="UpdateModal">
            <FilterInput />
        </CascadingValue>
    </div>
</div>

@if (ItemsList == null)
{
    <LazyContent ItemsPerPage="ItemsPerPage" ColumnsCount="GridColumnsCount" Type="@(GridType == GridType.Edit ? LoadingContentType.Grid : LoadingContentType.SelectGrid)" />
}
else if (ItemsList.TotalCount == 0)
{
    <EmptyList Title="@(string.IsNullOrEmpty(FilterString) ? "It's lonely here..." : "No items match your search!")" />
}
else
{
    <CascadingValue Value="@this" Name="UpdateModal">
        <table style="table-layout: fixed" class="table mt-4">
            <thead>
                @TableHeader
            </thead>

            <tbody>
                @for (int i = 0; i < ItemsList.Count; i++)
                {
                    @ItemRender(ItemsList[i]);
                }
            </tbody>
        </table>

        <Pagination CurrentPage="ItemsList.CurrentPage" PagesCount="ItemsList.PagesCount" />
    </CascadingValue>
}

@code {

   

}
