<div class="modal @(IsShown ? "show d-block" : "")" tabindex="-1" role="dialog">
    <div style="z-index: unset;" class="modal-backdrop @(IsShown ? "show" : "d-none")" @onclick="FocusModal"></div>
    <div class="modal-dialog @ModalClasses animate__animated @AnimateClassName" role="document">
        <div class="modal-content animate__animated animate__fast @FocusClassName">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ModalTitle</h5>
                <button type="button" class="close" @onclick="Cancel" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Close</button>
                <button type="button" class="btn @MainButtonClass" @onclick="Confirm">@MainButtonText</button>
            </div>
        </div>
    </div>
</div>