<div class="alert alert-@GetNotificationTypeClass() @(IsDismissible ? "alert-dismissible" : "") @(isShown ? "show" : "d-none") animate__animated animate__faster @animationClass" role="alert">
    <div>
        @if (!string.IsNullOrEmpty(Title))
        {
            <h4 class="alert-heading">@((MarkupString)Title)</h4>
        }

        <p class="my-0">@Description</p>

        @if (!string.IsNullOrEmpty(ExtraInfo))
        {
            <hr class="my-2">
            <p class="mb-0">@((MarkupString)ExtraInfo)</p>
        }

    </div>

    @if (IsDismissible)
    {
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="Hide">
            <span aria-hidden="true">&times;</span>
        </button>
    }

</div>

